@tailwind base;
@tailwind components;
@tailwind utilities;

.randomNumberWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: green;
  padding: 10px;
}
